* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.tweet-container {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 500px;
}

h1.title {
  font-size: 3rem;
  font-weight: 700;
}
p.description {
  font-size: 1.25rem;
  margin: 10px 0 50px;
}

.tweet {
  margin-bottom: 60px;
}
p.copy {
  font-size: 2rem;
  font-weight: 300;
}
p.date {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
}
p.link {
  font-size: .9rem;
  margin-top: 10px;
}
button#btn {
  background: #454545;
  border: 1px solid #323232;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.25rem;
  letter-spacing: 1px;
  outline: none;
  padding: 20px 40px;
}
button#btn:hover {
  background: #323232;
  border: 1px solid #121212;
  cursor: pointer;
}
